* {
  padding: 0%;
  margin: 0%;
}
body {
  font-family: "Bungee Spice", sans-serif;
  font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.nav-container{
    display: flex;
    column-gap: 20px;
}
.nav-container a{
    text-decoration: none;
    color: darkgrey   
}
.nav-container a:hover{
    text-decoration: underline;
    color:blueviolet
}
.toolbar{
    display: none;
}
@media screen and (max-width:600px) {
    .toolbar{
        display: block;
    }
    .nav-container{
        display: none;
    }
    .img-header{
        display: none;
    }
    .service-details{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}
.sidenavbar{
    background-color: gray;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 20px;
    display: none;
}
.side-navbar-tags p{
    padding: 10px;
    text-decoration: none;
}
.side-navbar-tags a{
    text-decoration: none;
}
.side-navbar-tags a:hover{
    text-decoration: underline;
    color: blue;

}
.header{
    margin: 20px;

    display: flex;
    justify-content: center;
}
.header-title{
    padding: 20px;
}
.service-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display:flex;
    justify-content: space-between;
}
.service-container-2 div{
    background-color: #f2f4f7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    

}
.arravial{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}
.arravial div{
   
    flex-basis: 20%;
    background-color: #f2f4f7;
}
.arravial div button{
    background-color: #f2f4f7;
    padding: 10px;
    position: relative;
    bottom: 50px;
    left: 28%;
    
}
.arravial-head{
    background-color:#f2f4f7;
    padding: 10px;
}
.news{
    text-align: center;
}
.input-news{
    padding-left: 30%;
    padding-right:30% ;
    padding-top: 20px;
    padding-right: 20px;
    margin: 10px;
}
.news button{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
}
.last-page{
    background-color: #1d232c;
    padding: 10px;
}
.last-page p i{
    padding: 5px;
}
.product-section{
    margin: 20px;
}
.product-search{
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
}
.product-search input{
    padding: 15px;
    padding-right:400px ;
}
.dress-container-list{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: space-between;
    margin: 20px;
    
}

